<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/signup.css">
    <title>MOVIE</title>
</head>
<body>
    
<!-- Signup -->
<form action="/signup" method="POST">
    <div class="form">
        <h3 class="title">Register Your Account</h3>
        <i class="material-icons" style="color: white;">
            account_circle
        </i>
        <div class="content">
            <div>
                <input class="input" type="text" placeholder="Full Name" id="name" name="name" required></input>
            </div>
            <div>
                <input class="input" type="email" placeholder="Email" id="email" name="email" required></input>
            </div>
            <div>
                <input class="input" type="password" placeholder="Password" id="password" name="password" required></input>
            </div><div>
            <input class="input" type="mobile" placeholder="Mobile No." id="mobile" name="mobile" required></input>
        </div>
        <div><button type="submit" class="button">SIGN UP</button></div>
        <p class="last">Already have an account? <span><a href="/signin"> Sign In</a></span></p>
        <p class="last end">Login as admin:<span><a href="/admin"> Sign In</a></span></p>

        </div>
    </div>

</form>

</body>
</html>